.table-config-header {
    border-bottom: 1px dotted #bdbdbd;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    border-top:  1px dotted #bdbdbd;
}

.MuiAutocomplete-popper {
    z-index: 100 !important;
}

.table-config-header h6 {
    font-size: 18px;
    margin-top: 5px;
}

.text-center {
    text-align: center !important;
}