.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

div.gbttooltip {
  position: absolute;
  text-align: left;
  pointer-events: none;
  // width: 400px;
  height: auto;
  max-height: 185px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  color: #333;
  border-radius: 4px;
  background: #e4ebf5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  // border: 1px solid rgba(200, 200, 200, 0.85);
  border: 1px solid rgba(158, 158, 159 ,0.84);;
  opacity: 0;
}

div.headerattribute {
  /* position: absolute; */
  // text-align: right;
  // right: 10px;
  // top: 28px;
  // font-size: 13 px;
  /* width: 100px; */
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  // background-color: #303f9f;
  color:#495fc3;
  // color: #826430;
  padding: 8px;
  margin: 10px 0;
}

div.tooltipheader {
  background-color: #303f9f;
  color: white;
  border-color: #303f9f;
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  height: 37px;
}

.alert-warning {
  border-color: #303f9f;
}

div#federalDiv {
  // width: 450px;
  max-height: 350px;
  /* left: 0px; 
  top: 35px; 
  position: absolute; */
}

#main {
  width: 100%;
  /* overflow: scroll; */
  overflow: hidden;
  /* border: 2px solid #444; */
  position: relative;
  min-height: 450px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #dbe2e2;
}

#backwardDiv {
  position: absolute;
  left: 0;
  top: 0;
}
#forwardDiv {
  position: absolute;
}

.chart-legends {
  margin-top: 15px;
}

.chart-legends span {
  padding: 0 5px;
}

.grabbableactive {
  cursor: grabbing;
}

.grabbable {
  cursor: grab;
}

#custom-zoom-controls {
  position: absolute;
  right: 0px;
  top: 45px;
  z-index: 10;
}

#custom-genealogy{
  position: absolute;
  right: 0px;
  top: 45px;
  z-index: 1;
  padding-top: 45px;
  display: flex;
}

.chart-tree-d3 {
  position: relative;
}

#custom-zoom-controls div {
  display: inline-block;
}

.chart-div {
  margin: 20px;
  width: 80%;
  height: 800px;
  transform: scaleX(-1);
  border: 2px solid rgb(78, 78, 78);
  border-radius: 5px;
  position: relative;
  left: 10%;
  > div {
    > svg {
      > g {
        transform: translate(2%, 47%) scale(0.15) !important;
      }
    }
  }
}

#tooltip-modal {
  > div {
    background-color: transparent !important;
  }
}

.tooltip-style {
  width: auto;
  text-transform: capitalize;
  height: auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#gbtonclick{
  position: absolute;
  // background: white;
  width: 175px;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: none;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  // background: #e9ecefb0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.85);
  // font-family:  Sans-Serif;
}


.additionalParentLink {
  fill: none;
  stroke:rgb(255, 140, 0);
  stroke-width: 3;
  stroke-linecap: round !important;
    opacity: 0.7 !important;
}
.container{
  border-radius:3px;
  
  width: 60%;
  margin: 0 auto;
 }
 
 h2{
  font-weight: normal;
  font-size: 25px;
 }
 h2:hover{
  cursor: pointer;
 }
 
 /* Context menu */
 .context-menu{
  display: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  width: 200px;
  background: #adcae6;
  box-shadow: 10px 10px 5px #888888;
 }
 
 .context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

 
 .context-menu ul li{
  padding: 5px 2px;
  margin-bottom: 1px;
  color: black;
  font-weight: bold;
  background-color:	#adcae6;
 
 }
 
 .context-menu ul li:hover{
  cursor: pointer;
  background-color: #309f9f;
 }
 .context-menu-child{
  display: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  width: 200px;
  background: white;
  box-shadow: 10px 10px 5px #888888;
 }
 
 .context-menu-child ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

 
 .context-menu-child ul li{
  padding: 5px 2px;
  margin-bottom: 1px;
  color: black;
  font-weight: bold;
  background-color:	#adcae6;
 
 }
 
 .context-menu-child ul li:hover{
  cursor: pointer;
  background-color: #7fffd4;
 }
 /* Colors */
 